/* Common css start */
.mt-2 { margin-top: 20px; }
.mt-4 { margin-top: 40px; }
.mt-6 { margin-top: 60px; }
.mb-2 { margin-bottom: 20px; }
.mb-4 { margin-bottom: 40px; }
.mb-6 { margin-bottom: 60px; }

.box_shadow { box-shadow: 0 1px 5px -1px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 5px -1px rgba(0,0,0,.3); }
/* Common css end */


/* Princing page css start */
.schlprice { padding: 5rem; }
/* Princing page css end */
